# Dependency directories
node_modules/

# Visual Studio Code created by default file's
.vscode
.DS_Store

# Remove unnessary file's
.idea

.eslintrc

.env
swagger.json
db-data
package-lock.json

# Ignore all files in public/uploads folder
public/uploads/*
# But do not ignore the public/uploads folder itself
!public/uploads/